<div class="row align-items-center">
    <div class="col">
        <div class="d-grid gap-5">
        <img src="/images/pokemon-home.png" class="img-fluid" alt="Logo pokemon" />

        <div class="d-grid gap-3">
            <a href="/batalha" class="btn btn-warning go-find-pokemon">PROCURAR POKEMONS</a>
            <a href="/pokemons" class="btn btn-warning">POKEDEX</a>
            <a href="/auth/logout" class="btn btn-warning">SAIR</a>
        </div>
        </div>
    </div>
    <div class="col">
        <img src="/images/pikachu-home.png" class="img-fluid" alt="Pikachu dando oi" />
    </div>
</div>
  
<div id="battle-pre-loading"></div>

<script src="/javascripts/home.js" type="text/javascript"></script>