.title {
  font-weight: bold;
  margin-bottom: 4rem;
}

.pokedex-wrapper {
  max-height: 70vh;
  overflow-y: auto;
}

.pokedex-wrapper::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1c40f;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f39c12;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #e67e22;
}

.poke-card {
  margin-bottom: 30px;
  padding: 20px 0px;
  border-radius: 1.5rem;
  background: #ecf0f1;
  box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
}

.poke-card:hover {
  box-shadow: rgb(0 0 0 / 25%) 0px 14px 28px, rgb(0 0 0 / 22%) 0px 10px 10px;
}

.poke-card img {
  max-width: 180px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.open-poke, .open-poke:hover {
  text-decoration: none;
  color: black;
}
